@use '../variables' as *;

.main-nav {
  display: flex;
  justify-content: end;
  padding: 10px;
  align-items: flex-end ;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
  text-transform: uppercase;
  margin: 50px;
  
}

.left-nav > ul,
.right-nav > ul {
  
}

.left-nav {

  > ul {
    > li {
      
    }
  }

  span {
    
  }
}

.right-nav  {
  > ul {
    > li {
      
    }

    > li:last-of-type {
      
    }
  }
  
  i {
    
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  
}

    